@import '../../styles/variables';

// .root {
// 	text-align: 'center';
// }

.title {
	max-width: 400;
	margin: 'auto';
	margin-top: 10;
}

.landing__image {
	z-index: 0;
	position: relative;
	// background-image: url(http://i.giphy.com/5lF3pQpdquCBy.gif);
	// background-size: cover !important;
	// background-repeat: no-repeat;
	// background-position: center center;
}

.landing__container {
	z-index: 5;
	position: relative;
	min-height: 300px;
	background-color: rgba($color: #000000, $alpha: 0.7);
}

.cta__container {
	z-index: 5;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;

	h2 {
		color: $gray-500;
		text-transform: none;
		text-align: center;
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: center;
		justify-content: center;
	}

	.cta {
		padding-bottom: 10px;

		&:first-child {
			padding: 12% 0 10px 0;
		}

		&:last-child {
			padding: 0 0 12% 0;
		}

		&:nth-child(2) {
			-webkit-animation-delay: 0.35s;
			animation-delay: 0.35s;
		}
		// padding: 20px 0;

		// &:first-child {
		// 	padding: 50px 0;
		// 	padding-bottom: 0;
		// }

		// &:nth-child(2) {
		// 	-webkit-animation-delay: 0.7s;
		// 	animation-delay: 0.7s;
		// }

		// @media screen and (min-width: 600px) {
		// 	padding: 40px 0;

		// 	&:first-child {
		// 		padding: 50px 0;
		// 		padding-bottom: 0;
		// 	}

		// 	&:nth-child(2) {
		// 		-webkit-animation-delay: 0.7s;
		// 		animation-delay: 0.7s;
		// 	}
		// }

		// @media screen and (min-width: 900px) {
		// 	padding-bottom: 10px;

		// 	&:first-child {
		// 		padding: 12% 0 10px 0;
		// 	}

		// 	&:last-child {
		// 		padding: 0 0 12% 0;
		// 	}

		// 	&:nth-child(2) {
		// 		-webkit-animation-delay: 0.7s;
		// 		animation-delay: 0.7s;
		// 	}
		// }
	}
}

.cta__container,
.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	min-width: 340px;
	max-width: 400px;
	@media (min-width: 576px) {
		max-width: 540px;
	}
	@media (min-width: 768px) {
		max-width: 720px;
	}
	@media (min-width: 992px) {
		max-width: 960px;
	}
	@media (min-width: 1200px) {
		max-width: 1140px;
	}
}

.container {
	min-height: 345px;
	margin-top: 20px;
}
