@-webkit-keyframes puff-in-center {
	0% {
		transform: scale(2);
		-webkit-filter: blur(4px);
		filter: blur(4px);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}
@keyframes puff-in-center {
	0% {
		transform: scale(2);
		-webkit-filter: blur(4px);
		filter: blur(4px);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}

@-webkit-keyframes slide-in-elliptic-top-fwd {
	0% {
		transform: translateY(-600px) rotateX(-30deg) scale(0);
		transform-origin: 50% 100%;
		opacity: 0;
	}
	100% {
		transform: translateY(0) rotateX(0) scale(1);
		transform-origin: 50% 1400px;
		opacity: 1;
	}
}
@keyframes slide-in-elliptic-top-fwd {
	0% {
		transform: translateY(-600px) rotateX(-30deg) scale(0);
		transform-origin: 50% 100%;
		opacity: 0;
	}
	100% {
		transform: translateY(0) rotateX(0) scale(1);
		transform-origin: 50% 1400px;
		opacity: 1;
	}
}

@-webkit-keyframes slide-in-bck-center {
	0% {
		transform: translateZ(600px);
		opacity: 0;
	}
	100% {
		transform: translateZ(0);
		opacity: 1;
	}
}
@keyframes slide-in-bck-center {
	0% {
		transform: translateZ(600px);
		opacity: 0;
	}
	100% {
		transform: translateZ(0);
		opacity: 1;
	}
}

@-webkit-keyframes swirl-in-fwd {
	0% {
		transform: rotate(-540deg) scale(0);
		opacity: 0;
	}
	100% {
		transform: rotate(0) scale(1);
		opacity: 1;
	}
}
@keyframes swirl-in-fwd {
	0% {
		transform: rotate(-540deg) scale(0);
		opacity: 0;
	}
	100% {
		transform: rotate(0) scale(1);
		opacity: 1;
	}
}

@-webkit-keyframes tracking-in-expand {
	0% {
		letter-spacing: -0.5em;
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
	}
}
@keyframes tracking-in-expand {
	0% {
		letter-spacing: -0.5em;
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes pop-in {
	0% {
		opacity: 0;
	}
	1% {
		opacity: 0;
		-webkit-transform: scale(0.98) translateY(-30px);
	}
	80% {
		-webkit-transform: scale(1);
	}
	100% {
		-webkit-transform: translateY(0);
	}
}

@keyframes pop-in {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	1% {
		opacity: 1;
	}

	100% {
		opacity: 1;
		transform: none;
	}
}
