/** @format */

@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import '~bootswatch/dist/lux/bootswatch';
@import '~react-multi-carousel/lib/styles.css';
@import 'nprogress';
@import 'transition';
@import 'animations';

// * {
// 	background: #000 !important;
// 	color: #0f0 !important;
// 	outline: solid #f00 1px !important;
// }

body {
	width: 100%;
	min-width: 100%;
	margin: 0;
	padding: 0;
}

.halloween {
	color: orange;
	h2,
	h3,
	p,
	span {
		color: orange !important;
	}

	button.btn {
		color: orange !important;
		&:hover {
			background-color: #919aa1 !important;
		}
	}

	button.btn.active {
		background-color: #919aa1 !important;
	}

	h2 {
		z-index: 5;
	}

	div.card,
	.prod__amount {
		background-color: #1a1a1a;
		border: 0;
	}
}

body.drawer-open {
	aside[class~='sidebar'] {
		transition: all 0.75s;
	}
}

button {
	margin: 0;
	padding: 0;
	border: none;
	background-color: unset;
}

a {
	&:hover {
		text-decoration: none;
	}
	font-weight: bold;
}

footer {
	a {
		background-color: transparent;
		color: #919aa1;
		&:hover {
			color: #fff;
		}
	}
}

nav {
	.navbar-item {
		img {
			max-height: unset;
		}
	}
}

.grid-2 {
	margin: 1em;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 400px));
	grid-gap: 25px;
	-webkit-justify-content: center;
	justify-content: center;
}

@media only screen and (max-width: 991px) {
	.nav-item {
		margin-right: 0;
	}
}

.opacity-3 {
	opacity: 60%;
}

.opacity-4 {
	opacity: 80%;
}

.btn-primary:focus,
.btn-primary.focus {
	box-shadow: none;
}
.btn-primary:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
	/* box-shadow: 0 0 0 0.2rem rgb(0 0 0 / 50%); */
	box-shadow: none;
}

.drawer-open {
	overflow: hidden;
}

.toggle {
	&::after {
		display: inline-block;
		margin-left: 0.255em;
		vertical-align: 0.255em;
		content: '';
		border-top: 0.3em solid;
		border-right: 0.3em solid transparent;
		border-bottom: 0;
		border-left: 0.3em solid transparent;
		-webkit-align-self: center;
		align-self: center;
	}
}

// .card {
// 	// border: 1px solid;
// 	-webkit-box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
// 		0px 1px 3px 0px rgba(0, 0, 0, 0.12);
// 	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
// 		0px 1px 3px 0px rgba(0, 0, 0, 0.12);
// }

.btn {
	font-size: 0.765625rem;
}

.prod__amount {
	font-size: 20px;
	width: 70%;
	max-width: 150px;
	font-weight: normal;
	display: inline;
	margin-bottom: 0;
	text-align: center;
	padding: 0.5rem 0.75rem;
	line-height: 1;
	color: #1a1a1a;
	background-color: #fff;
	border: 1px solid #dee2e6;
}

.cover {
	background-size: cover !important;
}

.bg-center {
	background-repeat: no-repeat;
}

.br2 {
	border-radius: 0.25rem;
}

.w2 {
	width: 2rem;
}

.w-100 {
	width: 100%;
}

.bg-black-80 {
	background-color: rgba(0, 0, 0, 0.8);
}

.pv5 {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.ph3 {
	padding-left: 1rem;
	padding-right: 1rem;
}

@media screen and (min-width: 60em) {
	.tc-l {
		text-align: center;
	}
}

.ReactModalPortal {
	z-index: 10;
}

.ReactModal__Html--open,
.ReactModal__Body--open {
	overflow: hidden; /* prevents background page from scrolling when the modal is open */
	@media screen and (min-width: $md) {
		overflow: auto;
	}
}

.ReactModal__Overlay {
	opacity: 0;
	z-index: 10;
	transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
	opacity: 1;
}

.ReactModal__Overlay--before-close {
	opacity: 0;
}

.ReactModal__Content {
	// max-height: calc(100vh - 3rem);
	// overflow-y: auto;
	z-index: 10;
	opacity: 0;
	-webkit-transform: translate(-50%, -100%);
	transform: translate(-50%, -100%);
	transition: all 400ms ease-in-out;
	max-width: 90vw;
	@media screen and (min-width: 600px) {
		max-width: 600px;
	}
}

.ReactModal__Content--after-open {
	opacity: 1;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.ReactModal__Content--before-close {
	opacity: 0;
	-webkit-transform: translate(-50%, -100%);
	transform: translate(-50%, -100%);
}

.react-multi-carousel-item {
	@media screen and (min-width: 576px) and (max-width: 765px) {
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: center;
		justify-content: center;
	}

	div {
		max-width: 300px;
	}
}

.slide-in {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	transition: all 1000ms ease-in-out;
}
.slide-out {
	opacity: 1;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	transition: all 400ms ease-in-out;
}

//Animations

.puff-in-center {
	-webkit-animation: puff-in-center 0.35s cubic-bezier(0.47, 0, 0.745, 0.715)
		both;
	animation: puff-in-center 0.35s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

.slide-in-elliptic-top-fwd {
	-webkit-animation: slide-in-elliptic-top-fwd 0.7s
		cubic-bezier(0.25, 0.46, 0.45, 0.94);
	animation: slide-in-elliptic-top-fwd 0.7s
		cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.swirl-in-fwd {
	-webkit-animation: swirl-in-fwd 0.7s ease-out both;
	animation: swirl-in-fwd 0.7s ease-out both;
}

.slide-in-bck-center {
	-webkit-animation: slide-in-bck-center 0.7s
		cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: slide-in-bck-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
		both;
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.8s
		cubic-bezier(0.215, 0.61, 0.355, 1) both;
	animation: tracking-in-expand 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.pop-in {
	-webkit-animation: 1s cubic-bezier(0.19, 1, 0.22, 1) 0s 1 normal forwards
		running pop-in;
	animation: 1s cubic-bezier(0.19, 1, 0.22, 1) 0s 1 normal forwards running
		pop-in;
}

.pop-in-slow {
	-webkit-animation: 2s cubic-bezier(0.19, 1, 0.22, 1) 0s 1 normal forwards
		running pop-in;
	animation: 2s cubic-bezier(0.19, 1, 0.22, 1) 0s 1 normal forwards running
		pop-in;
}

.scale-hover-1_1 {
	transition: all 0.3s;

	&:hover {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
}

.scale-hover-1_2 {
	transition: all 0.3s;

	&:hover {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
}

.scale-1_2 {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	transition: all 0.3s;
}
